# Postgre SQL
DB_NAME=''
DB_USER=''
DB_PASSWORD=''
DB_HOST=''
DB_PORT=''

#Email settings
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
EMAIL_PORT=

# ReCAPTCHA
RECAPTCHA_PUBLIC_KEY=''
RECAPTCHA_PRIVATE_KEY=''

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=''
