{% extends 'main.html' %}

{% block content %}
    <div class="card mb-3 border-0 nth-shadow">
        <div class="card-body">
            <div class="card-title nth-card-title">
                <h4>Изменение пароля пользователя</h4>
            </div>
            <form method="post" action="{% url 'password_change' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark mt-2 mb-2">Обновить пароль</button>
            </form>
            <a class="link-opacity-75 link-offset-2" href="{% url 'profile_detail' request.user.profile.slug %}">Оставить
                пароль без изменений</a>
        </div>
    </div>
{% endblock %}


{##}
{##}
{#    <form method="POST">#}
{#        {% csrf_token %}#}
{##}
{#        <label for="id_old_password">Old Password</label>#}
{#        <input type="password" name="old_password" autocomplete="new-password" required id="id_old_password"#}
{#               placeholder="Enter Old Password"/>#}
{#        <br>#}
{##}
{##}
{#        <label for="id_new_password1">New Password</label>#}
{#        <input type="password" name="new_password1" autocomplete="new-password"#}
{#               required id="id_new_password1"#}
{#               placeholder="Enter New Password"/>#}
{##}
{#        <br>#}
{##}
{#        <label for="id_new_password2">New Password Confirmation</label>#}
{#        <input type="password" name="new_password2" autocomplete="new-password"#}
{#               required id="id_new_password2" placeholder="Confirm New Password"/>#}
