<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">My Django Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">


                {% if user.is_authenticated %}
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <img class="rounded me-2" style="width: 40px; height: 40px; object-fit: cover;" src="{{ user.profile.avatar.url }}"/>{{ request.user }}
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="{% url 'profile_detail' request.user.profile.slug %}">Мой
                                профиль</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'post_create' %}">Добавить статью</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <form action="{% url 'logout' %}" method="post">{% csrf_token %}
                                    <a href="#" class="dropdown-item" onclick="parentNode.submit();">Выход</a>
                                </form>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Вход</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>